.App {
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
}

.Calc {
  width: 500px;
  margin: auto;
}

.Disp {
  height: 50px;
  border: 2px solid black;
  font-size: 2em;
  text-align: right;
  padding: 10px;
}

.Buttons {
  padding-top: 5px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.Buttons > button {
  background-color: orange;
  border: 2px solid yellow;
  font-size: 2em;
}